<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>New model upload</title>
</head>
<body>
    <h1>Загрузить новую модель</h1>

    
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div style="margin-bottom: 20px;">
            <p>Авто-генерация превью:</p>
            
            <!-- Сюда JS вставит Canvas с 3D моделью -->
            <div id="preview-container" style="width: 300px; height: 200px; background: #eee; border: 1px solid #ccc;">
                <span style="display: block; padding: 80px 0; text-align: center; color: #999;">Выберите файл...</span>
            </div>
            <input type="hidden" name="image_data" id="id_image_data">
        </div>

        <button type="submit" id="submit-btn" disabled>Загрузить в базу</button>
    </form>
    {% load static %}
    <script type="importmap">
    {
    "imports": {
        "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
    }
    }
    </script>
    <script type="module" src="{% static 'gallery/js/autothumb.js' %}"></script>

    <br>
    <a href="{% url 'home' %}">Вернуться на главную</a>
</body>
</html>
